@font-face {
  font-family: 'Instrument Serif';
  src: local('Instrument Serif'),
    url('./fonts/InstrumentSerif-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Serif';
  src: local('Instrument Serif'),
    url('./fonts/InstrumentSerif-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Instrument Serif', serif;
}